/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px 94px;
  /* border: 1px solid black; */
  font-size: 18px;
  /* background-color: brown; */
}

.link {
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.link-active {
  text-decoration: none;
}

.menu-list {
  display: flex;
  gap: 33px;
}

.header__menu-list {
  list-style: circle;
}

.header__menu-list li:first-child {
  list-style: none;
}

.header__logo {
  display: block;
  width: 136px;
  /* height: 105px; */
}

.header__contacts {
  display: flex;
  justify-content: flex-end;
  font-style: normal;
}

.header__contacts-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  line-height: 24.3px;
}