/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 92px;
  /* border: 1px solid black; */
  font-size: 18px;
  /* background-color: brown; */
}

.link {
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.link-active {
  text-decoration: none;
}

.menu-list {
  display: flex;
  gap: 33px;
}

.header__menu-list {
  position: relative;
  bottom: 3px;
  list-style: circle;
}

.header__menu-list li:first-child {
  list-style: none;
}

.header__logo {
  display: block;
  width: 148px;
  /* height: 105px; */
}

.header__logo-image {
  height: 105px;
}

.address {
  display: flex;
  justify-self: flex-end;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  line-height: 24.3px;
}

.header__address {
  position: relative;
  bottom: 3px;
  max-width: 240px;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  z-index: 0;
  padding: 165px 50px 50px;
  text-transform: uppercase;
  color: #fff;
}

.overlay {
  position: absolute;
  background-color: rgb(0 0 0 / 0.6);
  width: 100%;
  height: 100%;
  z-index: -1;
  inset: 0;
}

.cover__title {
  font-weight: bold;
  font-size: 100px;
  /* text-transform: uppercase; */
  letter-spacing: 30px;
  line-height: 115%;
  /* color: #fff; */
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  margin-top: 105px;
  min-height: 51px;
}

.cover__description-text {
  line-height: 28px;
  word-spacing: 18px;
}

.bet-button {
  background-color: transparent;
  text-transform: uppercase;
  color: #fff;
  font-size: 22px;
  padding: 12px 32px;
  border: 1px solid #fff;
}